.card:hover .card-img-top {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    cursor:pointer;
}

.card:hover .card-text {
    color: #ff4500;
    transition: color 0.3s ease-in-out;
}

.card-img-top {
    transition: transform 0.3s ease-in-out;
}

.card-text {
    transition: color 0.3s ease-in-out;
}
